MIDIGuitar64.dll
*.json
*.txt
*].*
* - Copy.*
* - Copy (*).*
VoxengoRecorder.64.dll
*.csv
[Images]/
[Archives]/
TimelineGL/
*.mid
desktop.ini
Video Amanuensis/
installer.iss
.sync/
.tmp.drivedownload/
.vscode/
node_modules/
*es]/
*.log
